/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Segoe UI", sans-serif;
}

body{
    background:#1d1d1d;
    color:white;
}

.top-bar{
    width:100%;
    padding:15px 25px;
    background:#222;
    font-size:20px;
    font-weight:bold;
    border-bottom:1px solid #444;
}

.container{
    max-width:900px;
    margin:60px auto;
    padding:0 20px;
}

.page-title{
    font-size:28px;
    margin-bottom:10px;
}

.page-desc{
    opacity:.85;
    line-height:1.7;
    margin-bottom:40px;
}

/* PROGRESS BAR */
.progress-bg{
    width:100%;
    height:6px;
    background:#555;
    border-radius:20px;
    margin:12px 0 25px 0;
}

#progress-bar{
    height:6px;
    width:0%;
    background:#77d16c;
    border-radius:20px;
    transition: .4s;
}

.question-text{
    font-size:20px;
    margin:20px 0 40px;
}

/* SLIDER */
.slider-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:15px;
}

.slider-container input[type=range]{
    width:70%;
}

/* NEXT BUTTON */
.next-btn{
    margin-top:35px;
    padding:12px 32px;
    font-size:18px;
    font-weight:bold;
    background:white;
    color:black;
    border:none;
    border-radius:6px;
    cursor:pointer;
    transition:.2s;
}

.next-btn:hover{
    background:#e6e6e6;
}
