/* ---------- RESET ---------- */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html, body{
  width:100%;
  height:100%;
  overflow-x:hidden;  /* جلوگیری کامل از اسکرول افقی */
  font-family: "Segoe UI", sans-serif;
  background:#000;
}


/* ---------- START TEST BUTTON ---------- */
.start-btn-wrapper {
  margin-top: 40px;
  text-align: center;
  z-index: 10;
  position: relative;
}

.start-btn {
  display: inline-block;
  padding: 14px 34px;
  font-size: 1.3rem;
  color: #1b1b1b;
  background: #f3d9a2;
  border-radius: 12px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0px 6px 16px rgba(0,0,0,0.45);
  transition: 0.3s;
}

.start-btn:hover {
  background: #ffe2ad;
  transform: translateY(-4px);
  box-shadow: 0px 12px 24px rgba(0,0,0,0.55);
}


/* ---------- BACKGROUND MAP ---------- */
.bg-map{
  position:fixed;
  inset:0;
  width:100%;
  height:100%;
  background-image:url("assets/map.png");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  z-index:-1;

  animation: mapZoom 6s ease-in-out infinite;
  transform-origin:center;
}

@keyframes mapZoom {
  0% { transform:scale(1); }
  50% { transform:scale(1.18); }
  100% { transform:scale(1); }
}




/* ---------- TITLE ---------- */
.hero{
  position:fixed;
  top:7vh;
  width:100%;
  text-align:center;
  color:#f3d9a2;
  text-shadow:0 6px 22px rgba(0,0,0,.7);
  padding:0 20px;
}

.hero h1{
  font-size:3rem;
}

.hero p{
  font-size:1.2rem;
  opacity:.9;
}

/* ---------- RESPONSIVE ---------- */
@media(max-width:768px){

  .hero h1{
    font-size:2.1rem;
  }

  .hero p{
    font-size:1rem;
  }
}

@media(max-width:450px){

  .hero h1{
    font-size:1.65rem;
  }

  .hero p{
    font-size:.9rem;
  }
}





