<!DOCTYPE html>
<html lang="fa">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>تست فرمانروایان ایران</title>
<link rel="stylesheet" href="style.css">
</head>

<body>

<!-- BACKGROUND -->
<div class="bg-map"></div>

<!-- TITLE -->
<div class="hero">
  <h1>تست فرمانروایان ایران</h1>
  <p>ببین کدام فرمانروا به روحیات تو نزدیک‌تر است</p>
</div>

<!-- START BUTTON -->
<div class="start-btn-wrapper">
  <a href="questions.html" class="start-btn">شروع تست</a>
</div>

</body>
</html>

